/*
* FlatPack HTML V5.0
* Copyright 2016 PixFort
* www.pixfort.com
* 29/01/2016
*/


/*--- Part 0:  #Misc      ---*/

.desk_right {
    text-align: right;
}

.desk_left {
    text-align: left;
}


/*Pix 1*/

.pixfort_pix_1 .tesi_style {
    background: #5ca4fc;
    padding: 40px 0;
    text-align: center;
}

.pixfort_pix_1 .q-icon {
    padding-bottom: 30px;
}


/* Testmonial Section Class */

.pixfort_pix_1 .testimonials {
    text-align: center;
}


/* Quote Text */

.pixfort_pix_1 .quote-text {
    color: #fff;
    font-size: 28px;
    font-wight: bold;
    line-height: 35px;
}


/* Quote Dots */

.pixfort_pix_1 .quote-dots {
    color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
    font-wight: bold;
    line-height: 35px;
}


/* Quote Title */

.pixfort_pix_1 .quote-title {
    color: #fff;
    font-size: 18px;
    font-wight: bold;
    line-height: 30px;
}


/* Quote Link */

.pixfort_pix_1 .quote-link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}


/* Quote Icon Image */

.pixfort_pix_1 #lp-pom-image-84 {
    opacity: 0.5;
}


/*Pix 2*/

.pixfort_pix_2 .header_1_style {
    background: #fff;
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.test .pix_video_div {
    position: fixed;
    z-index: -200 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.test video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -200 !important;
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-attachment: scroll !important;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}


/* #Video Section
================================================== */

.has-video {
    position: relative;
    overflow: hidden;
}

.pix_full_screen {
    min-height: 100% !important;
}

.has-video .section_video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    z-index: 10;
    background: #eee;
} //.has-video .section_video .mask { position: absolute; top: 0; left: 0;  height: 100%; width: 100%; z-index: 3; background:url(../images/videomask.png) repeat center;}
.has-video .section_wrapper {
    position: relative;
    z-index: 10;
}

.has-video .section_video video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: scroll;
}

@media only screen and (min-device-width:481px) and (max-device-width:1024px) {
    //			.has-video .section_video { display: none !important; }
}

.video_warper {
    background: #000;
}

.pix_video_bg_1 {
    overflow: hidden;
    position: relative;
}

.pixfort_sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


/*Slider*/

.pixfort_pix_slider {
    padding: 80px 0;
    background: #eee;
}


/*Icons*/

a.pi {
    text-decoration: none;
}


/*footer*/

.bottom-icons {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    margin: 0px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear
}

.bottom-links,
.bottom-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-links li,
.bottom-icons li {
    display: block;
    float: left;
    margin: 0px;
}

.bottom-icons li a {
    text-decoration: none;
    margin: 0 18px 0 0;
}

.bottom-icons li a:hover {
    opacity: 0.6;
}

.pixfort_footer_1 .bottom-icons a {
    color: #888;
}


/*header*/

.icon-item {
    display: inline-block !important;
    float: left;
}

.icon-item a {
    padding-left: 10px !important;
    padding-right: 10px!important;
    line-height: auto;
}

.featutes_icon {
    font-size: 48px;
    vertical-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
}

.pix_header_button {
    background: #59a3fc;
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;
}


/*New footer 1*/

.new_footer_1 {
    background: #eee;
    padding: 30px 0;
}

.footer_1_text {
    line-height: 20px;
}


/*pix_contents*/

.pix_contents {
    background: #f3f3f3;
    padding: 20px 0;
}

.pix_contents p {
    font-size: 14px;
}

.pix_contents .content_div {
    padding: 15px;
}

.pix_contents .content_div h4 {
    font-weight: bold;
    line-height: 35px;
    font-size: 18px;
}

.pixfort_content_3 {
    padding: 30px 0;
}

.pixfort_content_3 .img_div {
    text-align: center;
    position: relative;
    padding: 10px 0;
}

.pixfort_content_3 .img_div img {
    max-width: 100%;
    height: auto;
}


/*Texts And Titles*/

.pixfort_text_4 h4,
.pixfort_text_3 h4,
.pixfort_text_2 h4,
.pixfort_text_2_1 h4,
.pixfort_medical_3 h4 {
    font-weight: bold;
    line-height: 35px;
    font-size: 18px;
    color: #444;
}

.pixfort_text_4 p,
.pixfort_text_3 p,
.pixfort_text_2 p,
.pixfort_text_2_1 p,
.pixfort_medical_3 p {
    font-weight: normal;
    line-height: 26px;
    font-size: 14px;
    color: #999;
}

.pixfort_text_4 .content_div,
.pixfort_text_3 .content_div,
.pixfort_text_2 .content_div,
.pixfort_text_2_1 .content_div,
.pixfort_medical_3 .content_div {
    padding: 25px 0;
}

.text_3_button,
.text_3_button:visited {
    font-weight: bold;
    line-height: 35px;
    font-size: 14px;
    color: #59a3fc;
    text-decoration: none;
}

.text_3_button:hover {
    color: #2763aa;
}

.text_image_center {
    text-align: center;
    padding-top: 45px;
    margin-right: auto;
    margin-left: auto;
}

.text_image_center img {
    max-width: 100%;
}


/*MEDICAL LANDING PAGE START*/

.medical_text_button,
.medical_text_button:visited {
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    color: #f7941d;
    text-decoration: none;
}

.medical_text_button:hover {
    color: #d17b13;
}

.pixfort_medical_3 {
    background-color: #f4f4f4;
}

.pixfort_medical_16 .med_call {
    position: relative;
    display: inline-block;
    text-align: center
}

.pixfort_medical_16 .img4_st {
    position: relative;
    display: inline-block;
    width: 79%;
    height: auto
}

.pixfort_medical_16 .Designs_style {
    background: #fff;
    background-size: cover;
    padding: 70px 0
}

.pixfort_medical_16 .Designs_text_style {
    position: relative;
    display: inline-block;
    text-align: left;
    padding-left: 25px;
    max-width: 435px;
    vertical-align: top;
}

.pixfort_medical_16 .med_tit {
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%
}

.pixfort_medical_16 .med_subtit {
    color: #555;
    font-size: 20px;
}

.pixfort_medical_16 .med_text {
    color: #a9a9a9;
    font-size: 16px;
    line-height: 200%;
    position: relative;
    top: -15px
}

.pixfort_medical_16 .med_btn a {
    background: #f7941d;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: -15px
}

.pixfort_medical_16 .med_btn a:hover {
    background: #d17b13;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    color: #fff
}


/*Creative*/

.creative_header form {
    padding-top: 0px;
}

.creative_icon {
    color: rgb(241, 194, 50) !important;
}

.creative_header {
    box-shadow: none;
    outline-offset: -3px;
    background-image: #333;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px !important;
    background: #333 !important;
}

.creative_h_text {
    color: rgb(243, 243, 243);
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_note {
    color: rgb(238, 238, 238);
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_video_header .section_wrapper {
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
}

.creative_video_header .subscribe_btn {
    background: rgb(241, 194, 50);
}

.creative_video_header .subscribe_btn:hover {
    background: rgb(211, 164, 30);
}

.creative_features .adv_st {
    border: none;
    box-shadow: none;
}

.creative_circle {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    border-color: rgb(241, 194, 50);
    border-width: 2px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border: 2px solid rgb(241, 194, 50);
    border-radius: 100%;
    line-height: 0px;
    display: inline-block;
    position: relative
}

.creative_features .c1_style2 {
    font-weight: 700;
    color: #222
}

.creative_features .c2_style2 {
    font-weight: 400;
    color: #696969;
    line-height: 30px
}

.creative_c_icon {
    color: rgb(241, 194, 50);
    font-size: 42px;
}

.creative_showcase .amazing_style {
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 40px;
}

.creative_showcase .pub_st {
    padding-top: 0px;
    margin-bottom: -5px;
}

.creative_normal_1 .m6_style {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    background-image: none;
    background-color: rgb(238, 238, 238);
}

.creative_normal_1 .img_style {
    border-radius: 0px;
    border: 1px none rgb(68, 68, 68);
    margin-right: auto;
    margin-left: auto;
    max-width: 100% !important;
}

.creative_normal_1 .t2_style {
    color: rgb(191, 144, 0);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_1 .t3_style {
    color: rgb(136, 136, 136);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_2 .m6_style {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    outline-offset: -3px;
    background-image: none;
    background-color: rgb(255, 255, 255);
}

.creative_normal_2 .t2_style {
    color: rgb(191, 144, 0);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_2 .t3_style {
    color: rgb(153, 153, 153);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_2 .img_style {
    border-radius: 0px;
    border: 1px none rgb(68, 68, 68);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.creative_normal_2 .txt_style {
    color: rgb(102, 102, 102);
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_logos {
    padding-top: 10px;
    padding-bottom: 25px;
    box-shadow: none;
    background: rgb(68, 68, 68);
}

.creative_logos .logos_title {
    color: rgb(191, 144, 0);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_3 .adv_style {
    padding-top: 50px;
    padding-bottom: 100px;
    box-shadow: none;
    background: url('../images/16_medical/bg2.jpg') fixed rgb(239, 243, 246);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.creative_normal_3 .creative_title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_3 .creative_tagline {
    color: rgb(238, 238, 238);
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_3 .creative_num {
    color: rgb(241, 194, 50);
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_3 .cc_style {
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_4 .Homes {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: none;
    background-image: none;
    background-color: rgb(255, 255, 255);
}

.creative_normal_4 .box_Homes {
    padding-top: 30px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px -3px 0px 0px inset;
    background-image: none;
    background-color: rgb(243, 243, 243);
}

.creative_normal_4 .b2_homes_st {
    color: rgb(153, 153, 153);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.creative_normal_4 .Reservation_btn a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    background: rgb(241, 194, 50);
}

.creative_normal_4 .Reservation_btn a:hover {
    background: rgb(211, 164, 30);
}

.creative_confirm .pixfort_normal_1 {
    background: rgb(241, 194, 50) !important;
}

.creative_footer .new_footer_1 {
    outline-offset: -3px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: none;
    background-image: none;
    background-color: rgb(241, 194, 50);
}

.creative_footer .creative_footer_text {
    color: rgb(127, 96, 0);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.footer_text_2 {
    color: #000;
}

.creative_f_icon,
.creative_f_icon:visited {
    color: rgb(191, 144, 0);
    font-size: 18px;
}


/*Medical*/

.medical_header .text_span {
    color: rgb(247, 148, 29);
}

.medical_intro .join_us_section {
    box-shadow: none;
    outline-offset: -3px;
    padding-bottom: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/16_medical/img2.jpg) #000 fixed no-repeat;
}

.medical_1 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    outline-offset: -3px;
    background-image: none;
    background-color: rgb(248, 248, 248);
}

.medical_1 .text_3_button {
    color: rgb(247, 148, 29);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.medical_2 .awesome_style {
    padding-top: 0px;
    padding-bottom: 40px;
    box-shadow: none;
    outline-offset: -3px;
    background-image: none;
    background-color: rgb(238, 238, 238);
}

.medical_2 .h_awesome {
    color: rgb(68, 68, 68);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.medical_2 .txt_awesome {
    color: rgb(102, 102, 102);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
}

.medical_2 .via_st {
    color: rgb(247, 148, 29);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.medical_3 .Room_Res {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: none;
    outline-offset: -3px;
    background-image: none;
    background-color: rgb(68, 68, 68);
}

.medical_3 .Get_Room {
    color: rgb(255, 255, 255);
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0);
}

.medical_3 .txt_Res {
    color: rgb(153, 153, 153);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.medical_3 .Res_btn a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: rgb(247, 148, 29);
}

.medical_3 .Res_btn a:hover {
    background-color: rgb(227, 128, 19);
}

.medical_footer .pix_footers {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: none;
    background-image: none;
    background-color: rgb(51, 51, 51);
}

.medical_footer .footer_1_text span {
    color: rgb(153, 153, 153);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.medical_strong {
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.medical_icon {
    color: rgb(247, 148, 29);
    font-size: 18px;
}

.medical_logos .logos_st img {
    border-radius: 0px;
    border: 1px none rgb(68, 68, 68);
    width: 176px;
    height: 60px;
}

.elegant_2 .page_style {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    outline-offset: -3px;
    outline: none;
    cursor: default;
    background-image: url(../images/18_elegant/Hero-Header.png);
    background-color: rgb(89, 163, 252);
}

.elegant_2 .green_segment {
    background: #fff;
}

.elegant_2 .get_1_btn a {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.elegant_2 .get_1_btn a:hover {
    color: #59a3fc;
    background: #fff;
}

.elegant_2 .title {
    color: rgb(255, 255, 255);
    font-size: 54px;
}

.elegant_2 .subtitle {
    color: rgb(207, 226, 243);
    font-size: 16px;
}

.elegant_3 {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    outline-offset: -3px;
    outline: none;
    cursor: default;
    background-image: none;
    background-color: rgb(246, 246, 246);
}

.elegant_4 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    outline-offset: -3px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
}

.elegant_4 .link_3_btn a {
    background: #59a3fc;
}

.elegant_4 .link_3_btn a:hover {
    background: #4090e0;
}

.elegant_4 .logo_style {
    border-radius: 100%;
    border: 1px none rgb(68, 68, 68);
    width: 200px;
    height: 200px;
    outline: none;
    cursor: default;
}

.elegant_5 .New_Latest_Off {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: none;
    outline-offset: -3px;
    background-image: none;
    background-color: rgb(243, 243, 243);
}

.elegant_5 .N2_style {
    color: rgb(153, 153, 153);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}

.elegant_6 {
    outline-offset: -3px;
    padding-top: 40px;
    padding-bottom: 0px;
    box-shadow: none;
    outline: none;
    cursor: default;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
}

.elegant_6 .send_btn button {
    background: #59a3fc !important;
}

.elegant_6 .send_btn button:hover {
    background: #4090e0 !important;
}

.elegant_6 .icon_st img {
    border-radius: 0px;
    border: 1px none rgb(68, 68, 68);
    width: 90px;
    height: 90px;
    outline: none;
    cursor: default;
}

.elegant_7 .logos_sect {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    outline-offset: -3px;
    outline: none;
    cursor: default;
    background-image: none;
    background-color: rgb(255, 255, 255);
}

.elegant_8 .tesi_style {
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: none;
    outline-offset: -3px;
    outline: none;
    cursor: default;
    background-image: none;
    background-color: rgb(89, 163, 252);
}

.elegant_9 .new_footer_1 {
    outline-offset: -3px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: none;
    outline: none;
    cursor: default;
    background-image: none;
    background-color: rgb(64, 138, 227);
}

.elegant_9 .elegant_footer {
    color: rgb(159, 197, 232);
    font-size: 14px;
    outline: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
}

.elegant_9 .elegant_strong {
    color: rgb(255, 255, 255);
    font-size: 14px;
    outline: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
}

.elegant_9 .elegant_icon {
    color: rgb(159, 197, 232);
    font-size: 18px;
    outline: none;
}

.confirm_elegant {
    background: #59a3fc;
}


/*  Construction  */

.construction .area_1 {
    margin-top: 120px;
}

.construction .area_1 .const_title {
    margin-top: 60px 0;
    color: #fff;
    font-size: 54px;
    font-weight: 100 !important;
    display: inline-block;
    line-height: 60px;
    margin-bottom: 30px;
}

.construction .area_1 p {
    color: #ddd;
    font-size: 20px;
    max-width: 490px;
    line-height: 26px;
}

.construction .join_us_section {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/20_construction/construction-work-building-bg.jpg) #333 fixed no-repeat center;
    padding: 60px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.construction .send_btn button,
.construction .link_3_btn a {
    background: #ffcc33;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.construction .send_btn button:hover,
.construction .link_3_btn a:hover {
    background: #e4b423;
}

.confirm_page.construction {
    background: #e4b423;
}

.construction .part_st {
    background: #fff;
    padding: 20px;
}

.construction .logo_style {
    border-radius: 3px;
    width: 100%;
    height: auto;
}

.construction .gym_st {
    text-align: left;
    margin: 0;
}

.construction .gym_text {
    text-align: left;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.construction .link_3_btn {
    float: left;
}

.construction .tesi_style {
    background: url(../images/20_construction/bg1.jpg) #333 fixed no-repeat center;
    padding: 60px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.event_div {}

.event_box {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 30px;
    margin: 30px 0;
}

.padding_15 {
    padding: 0 20px
}

.hor_padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.event_box_1 {
    display: block;
    float: left;
    width: 15%;
}

.event_box_2 {
    display: block;
    float: left;
    width: 46%;
}

.event_box_3 {
    display: block;
    float: left;
    width: 34%;
}

.event_box_img {
    text-align: center;
}

.event_box_img img {
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

.event_bg,
.dark.event_bg {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    background-color: #333 fixed no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

.paypal_1,
.dark.paypal_1 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/paypal/1.jpg) #333 fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

.paypal_2,
.dark.paypal_2 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/paypal/2.jpg) #333 fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

.form_1_bg,
.dark.form_1_bg {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/main/bg-form1.jpg) #333 fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

.form_2_bg,
.dark.form_2_bg {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/main/bg-form2.jpg) #333 fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

.simple_team {
    text-align: center;
    padding: 10px;
}

.simple_team_img {
    text-align: center;
}

.simple_team_img img {
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

.flat_pricing {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 30px;
    margin: 10px 0;
}

.flat_pricing_list {
    padding-top: 15px;
    margin-bottom: 0px;
}

.flat_pricing_list li {
    padding: 10px 0;
}

.social_1 {
    color: #fff;
    padding: 30px;
    border-radius: 3px;
    display: inline-block;
    margin: 10px 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear
}

.social_1:hover,
.social_1:focus,
.social_1:visited {
    color: #fff;
    opacity: 0.7;
}

.facebook_bg {
    background: #3b5998;
}

.twitter_bg {
    background: #55acee;
}

.google_plus_bg {
    background: #dd4b39;
}

.dribbble_bg {
    background: #ea4c89;
}


/*  General   */

.extra_padding {
    padding: 120px 0;
}

.big_padding {
    padding: 60px 0;
}

.normal_padding {
    padding: 30px 0;
}

.padding_25 {
    padding: 25px 0;
}

.small_padding {
    padding: 20px 0;
}

.extra_small_padding {
    padding: 10px 0;
}

.h_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.padding_top_60 {
    padding-top: 60px;
}

.padding_top2_60 {
    padding-top: 60px;
}

.padding_top_30 {
    padding-top: 30px;
}

.padding_top_20 {
    padding-top: 20px;
}

.padding_top_0 {
    padding-top: 0px;
}

.a.normal_gray:hover,
a.normal_gray:visited {
    color: #bbb;
    opacity: 0.7;
    padding-bottom: 0px;
}

.padding_bottom_0 {
    padding-bottom: 0px;
}

.padding_bottom_20 {
    padding-bottom: 20px;
}

.padding_bottom_30 {
    padding-bottom: 30px;
}

.padding_bottom_60 {
    padding-bottom: 60px;
}

.padding_left_10 {
    padding-left: 10px;
}

.small_bold {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 5px;
    display: inline-block;
}

.bold_text {
    font-weight: bold;
}

.pix_inline_block {
    display: inline-block;
}

.pix_relative {
    position: relative;
}

.pix_max_width {
    max-width: 100%;
}

.pix_full_width {
    width: 100%;
}

.small_circle {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
}

.border_light {
    border: 3px solid #ddd;
}

.big_circle {
    width: 100%;
    position: relative;
    text-align: center;
}

.big_circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    border: 3px solid #ddd;
    border-radius: 100%;
}

.big_circle_content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #777;
}

.italic_text {
    font-style: italic;
}

.pix_video iframe {
    max-width: 100%;
}

.bold_text {
    font-weight: bold;
}

.title_170 {
    font-size: 170px;
    line-height: 175px;
}

.title_140 {
    font-size: 140px;
    line-height: 145px;
}

.title_70 {
    font-size: 70px;
    line-height: 75px;
}

.title_56 {
    font-size: 56px;
    line-height: 65px;
}

.big_title {
    font-size: 48px;
    line-height: 52px;
}

.normal_title {
    font-size: 30px;
    line-height: 35px;
}

.big_text {
    font-size: 22px;
    line-height: 30px;
}

.normal_text {
    font-size: 16px;
    line-height: 24px;
}

.small_text {
    font-size: 14px;
    line-height: 22px;
}

.center_text {
    text-align: center;
}

.left_text {
    text-align: left !important;
}

.right_text {
    text-align: right;
}

.margin_bottom {
    margin-bottom: 10px;
    display: inline-block;
}

.margin_top {
    margin-bottom: 10px;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}

.margin_bottom_30 {
    margin-bottom: 30px !important;
}

.margin_bottom_50 {
    margin-bottom: 50px !important;
}

.margin_right_10 {
    margin-right: 10px !important;
}

.padding_top_60_1 {
    padding-bottom: 60px;
    display: inline-block;
}

.margin_vertical {
    margin: 30px 0;
}

.margin_h {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.margin_v {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.pix_container * {
    max-width: 100%;
}

.feature_image {
    max-width: 100% !important;
    height: auto;
}

.pix_radius {
    border-radius: 3px;
}

.captcha {
    width: 100% !important;
}

.big_image {
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
    display: block;
}

.cta_bg,
.dark.cta_bg {
    background: url(../images/main/cta-bg.jpg) #333 fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

.firas99 {
    display: inline-block;
    background: #eee;
    float: left;
}

.intro_arrow,
.intro_arrow:hover,
.intro_arrow:focus,
.intro_arrow:visited {
    border: 2px solid #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    margin: 30px 0;
    text-decoration: none;
    color: #fff;
}


/*  Buttons  */

.pix_button,
.pix_button:visited,
.pix_button:focus {
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 3px;
    margin: 5px 0;
    display: inline-block;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear
}

.small_button,
.small_button:visited,
.small_button:focus {
    padding: 8px 12px;
}

.small_wide_button,
.small_wide_button:visited,
.small_wide_button:focus {
    padding: 8px 25px;
}

.pix_button i {
    padding-right: 5px;
}

.pix_button i.p_right {
    padding-right: 0px;
    padding-left: 5px;
}

.pix_button:hover {
    opacity: 0.7;
}

.btn_big {
    padding: 15px 22px !important
}

.btn_normal,
.btn_normal:visited,
.btn_normal:focus {
    background: #333;
    color: #fff;
}

.btn_normal i {
    color: #fff;
}

.btn_normal:hover {
    color: #fff;
}

.pix_button_flat {
    box-shadow: 0px -3px rgba(0, 0, 0, 0.2) inset;
}

.pix_button_flat2 {
    box-shadow: 0px -3px rgba(255, 255, 255, 0.4) inset;
}

.pix_button_line {
    box-shadow: 0px 0px 0px 2px inset;
}

.blue_border_button,
.blue_border_button i {
    color: #2dc0e8 !important
}

.white_border_button,
.white_border_button i {
    color: #fff !important
}


/* Section: Highlight
================================================== */

.highlight-section {
    position: relative;
}

.highlight-left,
.highlight-right {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background: #fff
}

.highlight-left {
    left: 0;
}

.highlight-right {
    right: 0;
}

.highlight-left>div,
.highlight-right>div {
    z-index: 2;
}

@media only screen and (max-width: 767px) {
    .highlight-left,
    .highlight-right {
        width: 100%;
    }
}

.highlight_inner {
    padding: 0 15px;
    position: relative;
}

.hl1 {
    background: url(../images/main/hl-6.jpg) #333 center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hl2 {
    background: url(../images/main/hl-7.jpg) #333 center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hl3 {
    background: url(../images/main/bg-hl-new.jpg) #333 center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*  Into  */

.intro_1 {
    text-align: center;
    padding: 40px 0;
}

.intro_div h2 {}

.intro_div p {
    max-width: 600px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: #aaa;
    line-height: 26px;
}


/*  Call 1  */

.pix_call_1 {
    padding: 30px;
    background: #f2f2f2
}

.pix_call_1 .pix_area1,
.pix_call_1 .pix_area2 {
    padding: 10px 0;
}

.pix_call_1 .pix_area2 {
    text-align: center;
}

.call_text h2 {
    padding: 5px 0;
}

.main_button,
.main_button:visited {
    background: #ffcc33;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 3px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.main_button:hover {
    color: #fff;
    background: #e4b423;
}


/*  Footer 2  */

.footer2 {
    margin: 0;
    padding: 20px 0;
}

.footer2 .footer2_center {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.footer2 .desk_right {
    position: relative;
    display: inline-block;
    padding-top: 20px;
}

.footer2_logo {
    max-width: 70px;
    height: auto;
    display: inline-block;
    position: relative;
    bottom: -20px;
    margin-top: -20px;
    margin-right: 10px;
}

.footer2_center {
    text-align: left;
}

.footer2 .tagline {}

.footer2_menu ul {
    display: inline-block;
}

.footer2_menu li a {
    display: inline-block;
    padding: 10px 20px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
}


/*  Footer 3  */

.pix_footer_logo {
    margin-bottom: 10px;
}

.footer3 {
    padding: 40px 0;
}

.footer3_menu {
    margin: 20px 0;
}

.footer3_menu li a {
    font-weight: bold;
    line-height: 16px;
    margin: 8px 0;
    color: #999;
    text-decoration: none;
}

.footer3_title {
    font-size: 16px;
    font-weight: bold;
}

.big_number {
    font-size: 30px;
    font-weight: bold;
}

.light_color {
    color: #aaa
}

.footer3 .columns {
    position: relative;
}

.footer3 .area_1:after,
.footer3 .area_2:after,
.footer3 .area_3:after {
    content: "";
    border-right: 1px solid;
    border-color: #eee;
    height: 220px;
    position: absolute;
    top: 0;
    right: 0;
}

.pix_img_fit {
    max-width: 100%;
    margin: 0 10px;
    display: inline-block;
}

.pix_div_fit {
    padding: 0 10px;
    display: inline-block;
}


/*  Features 1  */

.features_1 {
    background: #f3f3f3;
    padding: 50px 0;
}

.f_1_icon_box {
    margin: 20px 0;
}

.features_1 .c1_style2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

.features_1 .c2_style2 {
    font-size: 14px;
    color: #999;
    line-height: 26px;
}

.small_title {
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

.f1_box {
    padding: 10px;
}

.big_icon {
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
}


/*  Popup  */

.pop_hidden {
    display: none;
}

.pix_popup {
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.2) inset, 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.pix_popup2 {
    padding: 20px 20px;
}

.fancybox-skin.container .columns {
    margin: 0px !important;
    padding: 0px !important
}

.close_btn {
    padding: 5px;
    position: absolute;
    right: 0;
    top: 2px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.2);
    line-height: 25px;
}

.big_map iframe {
    width: 100%;
    height: 450px;
}


/*.pop_style_1 {
		transform: scale(0.5);
	}
	.popup_visible .pop_style_1 {
		transform: scale(1);
	}*/

.slide_background {
    transition: all 0.3s 0.3s;
}


/*.slide,
	.slide_wrapper {
		transition: all 0.5s ease-out;
	}
	.slide {
		transform: translateX(0) translateY(-40%);
	}*/

.popup_visible .slide {
    transform: translateX(0) translateY(0);
}

.subscribe_popup:before {
    background: url(../images/main/newsletter-pattern.png) #f5f5f5 repeat-x;
    height: 15px;
    display: inline-block;
    width: 100%;
    position: relative;
    content: "";
    margin: 0px;
    overflow: hidden;
    top: -1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px !important
}

.subscribe_popup .pix_popup {
    margin-top: -5px !important;
}

.fancybox-skin {
    background: #fff;
}

.subscribe_popup .close_btn {
    top: 16px;
}


/*  PixForm  */

.pix_form2 {
    background: #333;
}

.pix_form input,
.pix_form select,
.pix_form input:focus,
.pix_form textarea,
.pix_form textarea:focus {
    width: 100%;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 3px;
    padding: 15px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
}

form #result {
    display: none;
}

form {
    margin-bottom: 0px !important;
    padding: 10px 0;
    position: relative;
}

.form_no_padding {
    padding-top: 0px;
}

.small_padding_right {
    padding-right: 10px
}

.submit_btn,
.submit_btn:focus,
.submit_btn:hover {
    background: #2dc0e8;
    width: 100%;
    padding: 15px 0;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.2) inset;
    font-size: 16px;
    text-shadow: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear
}

.submit_btn:hover {
    opacity: 0.7;
}

#result {
    width: 100%;
    display: inline-block;
}

.success {
    border: 2px solid #82b541;
    border-radius: 3px;
    padding: 15px 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

.error {
    border: 2px solid red;
    border-radius: 3px;
    padding: 15px 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

button.submit_btn {
    margin-bottom: 10px;
}

.pix_note {
    color: #aaa;
    margin: 0px;
}

.max_400 {
    max-width: 400px;
}

.max_600 {
    max-width: 600px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


/*---------------------------------------------------------------------------------------------------------------*/


/*  Dark  */

.dark {
    background: #333333;
    color: #fff;
}

.dark .light_gray {
    color: #999
}

.dark .normal_gray {
    color: #bbb
}

.dark .dark_gray {
    color: #fff
}

.dark .dark_gray2 {
    color: #fff
}

.dark .border_light {
    border-color: #999;
}

.header_nav_1.dark,
.intro_1.dark,
.pix_call_1.dark,
.dark .intro_1,
.dark .pix_call_1 {
    background: #333;
}

.header_nav_1.dark .nav li a,
.dark .header_nav_1 .nav li a {
    color: #ccc;
}

.header_nav_1.dark .navbar-toggle:before {
    color: #eee !important;
}

.header_nav_1.dark .pix_header_button,
.dark .header_nav_1 .pix_header_button {
    background: #ffcc33;
}

.header_nav_1.dark .text_span,
.dark .header_nav_1 .text_span {
    color: #ffcc33;
}

.intro_1.dark h2,
.pix_call_1.dark .call_text h2,
.dark .t1_style {
    color: #fff;
}

.intro_1.dark p {
    color: #aaa;
}

.dark .features_1 {
    background: #333;
}

.dark .features_1 .c1_style2 {
    color: #fff;
}

.dark .features_1 .c2_style2 {
    color: #888;
}

.dark .bottom-icons li a,
.dark .footer3_title {
    color: #eee;
}

.dark .big_number,
.dark .med_title,
.dark .t2_style {
    color: #ccc
}

.dark .footer3 .area_1:after,
.dark .footer3 .area_2:after,
.dark .footer3 .area_3:after {
    border-color: #444;
}

.dark .white {
    color: #000;
}


/*  RTL   */

.pix_rtl {
    direction: rtl;
    text-align: right;
}


/*  Colors  v4.0  */

.brown,
.brown:hover,
.brown i {
    color: #554263;
}

.brown_bg {
    background: #554263;
}

.orange,
.orange:hover,
.orange i,
.orange:visited,
.orange:focus {
    color: #f77825;
}

.orange_bg,
.orange_bg:visited,
.orange_bg:focus,
.orange_bg:hover {
    background: #f77825;
}

.green_blue,
.green_blue:hover,
.green_blue i {
    color: #50b99a;
}

.green_blue_bg,
.green_blue_bg:visited,
.green_blue_bg:focus,
.green_blue_bg:hover {
    background: #50b99a;
}

.light_blue,
.light_blue:hover,
.light_blue i {
    color: #2dc0e8;
}

.light_blue_bg,
.light_blue_bg:hover,
.light_blue_bg:visited,
.light_blue_bg:focus {
    background: #2dc0e8;
}

.green_1,
.green_1:hover,
.green_1 i,
.green_1:visited,
.green_1:focus {
    color: #82b541;
}

.green_1_bg,
.green_1_bg:hover,
.green_1_bg:visited,
.green_1_bg:focus {
    background: #82b541;
}

.blue_text,
.blue_text:visited,
.blue_text:hover,
.blue_text:focus {
    color: #2dc0e8;
    margin-bottom: 10px;
    display: inline-block;
}

.blue_bg,
.blue_bg:visited,
.blue_bg:focus {
    background: #2dc0e8
}

.dark_red,
.dark_red:hover,
.dark_red i,
a.dark_red {
    color: #a71930;
}

.dark_red_bg,
.dark_red_bg:visited,
.dark_red_bg:focus {
    background: #a71930
}

.dark_yellow,
.dark_yellow:hover,
.dark_yellow i,
a.dark_yellow {
    color: #fbb034;
}

.dark_yellow_bg,
.dark_yellow_bg:visited,
.dark_yellow_bg:focus {
    background: #fbb034
}

.white,
.white:hover,
.white:visited,
.white:focus {
    color: #fff;
}

.gray {
    color: #555
}

.light_gray {
    color: #999
}

.normal_gray,
.normal_gray:focus {
    color: #bbb
}

.soft_dark_gray {
    color: #282828
}

.dark_gray {
    color: #222
}

a.normal_gray:hover,
a.normal_gray:visited {
    color: #bbb;
    opacity: 0.7
}

a.dark:hover {
    color: #fff;
}

.light_gray_bg {
    background: #f3f3f3;
}

.black_bg,
.dark.black_bg {
    background: #000;
}

.soft_dark_gray_bg,
.dark.soft_dark_gray_bg {
    background: #282828
}

.blue_moving_bg,
.dark.blue_moving_bg {
    background: url(../images/main/pattern.png) fixed #444 center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

.inter_3_bg,
.dark.inter_3_bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

@media (max-width: 1124px) {
    .pix_builder_bg {
        background-attachment: scroll !important;
    }
}

#page .bx-wrapper {
    -moz-box-shadow: 0 0 0px transparent;
    -webkit-box-shadow: 0 0 0px transparent;
    box-shadow: 0 0 0px transparent;
    border: 0px solid transparent;
    background: transparent;
}
