@font-face {
	font-family: 'flatpack';
	src:url('../fonts/flatpack.eot?tzy7cr');
	src:url('../fonts/flatpack.eot?#iefixtzy7cr') format('embedded-opentype'),
		url('../fonts/flatpack.woff?tzy7cr') format('woff'),
		url('../fonts/flatpack.ttf?tzy7cr') format('truetype'),
		url('../fonts/flatpack.svg?tzy7cr#flatpack') format('svg');
	font-weight: normal;
	font-style: normal;
}

.pi {
	font-family: 'flatpack' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pixicon-eye:before {
	content: "\e000";
}
.pixicon-paper-clip:before {
	content: "\e001";
}
.pixicon-mail:before {
	content: "\e002";
}
.pixicon-toggle:before {
	content: "\e003";
}
.pixicon-layout:before {
	content: "\e004";
}
.pixicon-link:before {
	content: "\e005";
}
.pixicon-bell:before {
	content: "\e006";
}
.pixicon-lock:before {
	content: "\e007";
}
.pixicon-unlock:before {
	content: "\e008";
}
.pixicon-ribbon:before {
	content: "\e009";
}
.pixicon-image:before {
	content: "\e010";
}
.pixicon-signal:before {
	content: "\e011";
}
.pixicon-target:before {
	content: "\e012";
}
.pixicon-clipboard:before {
	content: "\e013";
}
.pixicon-clock:before {
	content: "\e014";
}
.pixicon-watch:before {
	content: "\e015";
}
.pixicon-air-play:before {
	content: "\e016";
}
.pixicon-camera:before {
	content: "\e017";
}
.pixicon-video:before {
	content: "\e018";
}
.pixicon-disc:before {
	content: "\e019";
}
.pixicon-printer:before {
	content: "\e020";
}
.pixicon-monitor:before {
	content: "\e021";
}
.pixicon-server:before {
	content: "\e022";
}
.pixicon-cog:before {
	content: "\e023";
}
.pixicon-heart:before {
	content: "\e024";
}
.pixicon-paragraph:before {
	content: "\e025";
}
.pixicon-align-justify:before {
	content: "\e026";
}
.pixicon-align-left:before {
	content: "\e027";
}
.pixicon-align-center:before {
	content: "\e028";
}
.pixicon-align-right:before {
	content: "\e029";
}
.pixicon-book:before {
	content: "\e030";
}
.pixicon-layers:before {
	content: "\e031";
}
.pixicon-stack:before {
	content: "\e032";
}
.pixicon-stack-2:before {
	content: "\e033";
}
.pixicon-paper:before {
	content: "\e034";
}
.pixicon-paper-stack:before {
	content: "\e035";
}
.pixicon-search:before {
	content: "\e036";
}
.pixicon-zoom-in:before {
	content: "\e037";
}
.pixicon-zoom-out:before {
	content: "\e038";
}
.pixicon-reply:before {
	content: "\e039";
}
.pixicon-circle-plus:before {
	content: "\e040";
}
.pixicon-circle-minus:before {
	content: "\e041";
}
.pixicon-circle-check:before {
	content: "\e042";
}
.pixicon-circle-cross:before {
	content: "\e043";
}
.pixicon-square-plus:before {
	content: "\e044";
}
.pixicon-square-minus:before {
	content: "\e045";
}
.pixicon-square-check:before {
	content: "\e046";
}
.pixicon-square-cross:before {
	content: "\e047";
}
.pixicon-microphone:before {
	content: "\e048";
}
.pixicon-record:before {
	content: "\e049";
}
.pixicon-skip-back:before {
	content: "\e050";
}
.pixicon-rewind:before {
	content: "\e051";
}
.pixicon-play:before {
	content: "\e052";
}
.pixicon-pause:before {
	content: "\e053";
}
.pixicon-stop:before {
	content: "\e054";
}
.pixicon-fast-forward:before {
	content: "\e055";
}
.pixicon-skip-forward:before {
	content: "\e056";
}
.pixicon-shuffle:before {
	content: "\e057";
}
.pixicon-repeat:before {
	content: "\e058";
}
.pixicon-folder:before {
	content: "\e059";
}
.pixicon-umbrella:before {
	content: "\e060";
}
.pixicon-moon:before {
	content: "\e061";
}
.pixicon-thermometer:before {
	content: "\e062";
}
.pixicon-drop:before {
	content: "\e063";
}
.pixicon-sun:before {
	content: "\e064";
}
.pixicon-cloud:before {
	content: "\e065";
}
.pixicon-cloud-upload:before {
	content: "\e066";
}
.pixicon-cloud-download:before {
	content: "\e067";
}
.pixicon-upload:before {
	content: "\e068";
}
.pixicon-download:before {
	content: "\e069";
}
.pixicon-location:before {
	content: "\e070";
}
.pixicon-location-2:before {
	content: "\e071";
}
.pixicon-map:before {
	content: "\e072";
}
.pixicon-battery:before {
	content: "\e073";
}
.pixicon-head:before {
	content: "\e074";
}
.pixicon-briefcase:before {
	content: "\e075";
}
.pixicon-speech-bubble:before {
	content: "\e076";
}
.pixicon-anchor:before {
	content: "\e077";
}
.pixicon-globe:before {
	content: "\e078";
}
.pixicon-box:before {
	content: "\e079";
}
.pixicon-reload:before {
	content: "\e080";
}
.pixicon-share:before {
	content: "\e081";
}
.pixicon-marquee:before {
	content: "\e082";
}
.pixicon-marquee-plus:before {
	content: "\e083";
}
.pixicon-marquee-minus:before {
	content: "\e084";
}
.pixicon-tag:before {
	content: "\e085";
}
.pixicon-power:before {
	content: "\e086";
}
.pixicon-command:before {
	content: "\e087";
}
.pixicon-alt:before {
	content: "\e088";
}
.pixicon-esc:before {
	content: "\e089";
}
.pixicon-bar-graph:before {
	content: "\e090";
}
.pixicon-bar-graph-2:before {
	content: "\e091";
}
.pixicon-pie-graph:before {
	content: "\e092";
}
.pixicon-star:before {
	content: "\e093";
}
.pixicon-arrow-left:before {
	content: "\e094";
}
.pixicon-arrow-right:before {
	content: "\e095";
}
.pixicon-arrow-up:before {
	content: "\e096";
}
.pixicon-arrow-down:before {
	content: "\e097";
}
.pixicon-volume:before {
	content: "\e098";
}
.pixicon-mute:before {
	content: "\e099";
}
.pixicon-content-right:before {
	content: "\e100";
}
.pixicon-content-left:before {
	content: "\e101";
}
.pixicon-grid:before {
	content: "\e102";
}
.pixicon-grid-2:before {
	content: "\e103";
}
.pixicon-columns:before {
	content: "\e104";
}
.pixicon-loader:before {
	content: "\e105";
}
.pixicon-bag:before {
	content: "\e106";
}
.pixicon-ban:before {
	content: "\e107";
}
.pixicon-flag:before {
	content: "\e108";
}
.pixicon-trash:before {
	content: "\e109";
}
.pixicon-expand:before {
	content: "\e110";
}
.pixicon-contract:before {
	content: "\e111";
}
.pixicon-maximize:before {
	content: "\e112";
}
.pixicon-minimize:before {
	content: "\e113";
}
.pixicon-plus:before {
	content: "\e114";
}
.pixicon-minus:before {
	content: "\e115";
}
.pixicon-check:before {
	content: "\e116";
}
.pixicon-cross:before {
	content: "\e117";
}
.pixicon-move:before {
	content: "\e118";
}
.pixicon-delete:before {
	content: "\e119";
}
.pixicon-menu:before {
	content: "\e120";
}
.pixicon-archive:before {
	content: "\e121";
}
.pixicon-inbox:before {
	content: "\e122";
}
.pixicon-outbox:before {
	content: "\e123";
}
.pixicon-file:before {
	content: "\e124";
}
.pixicon-file-add:before {
	content: "\e125";
}
.pixicon-file-subtract:before {
	content: "\e126";
}
.pixicon-help:before {
	content: "\e127";
}
.pixicon-open:before {
	content: "\e128";
}
.pixicon-ellipsis:before {
	content: "\e129";
}
.pixicon-mobile:before {
	content: "\e00a";
}
.pixicon-laptop:before {
	content: "\e00b";
}
.pixicon-desktop:before {
	content: "\e00c";
}
.pixicon-tablet:before {
	content: "\e00d";
}
.pixicon-phone:before {
	content: "\e00e";
}
.pixicon-document:before {
	content: "\e00f";
}
.pixicon-documents:before {
	content: "\e01a";
}
.pixicon-search2:before {
	content: "\e01b";
}
.pixicon-clipboard2:before {
	content: "\e01c";
}
.pixicon-newspaper:before {
	content: "\e01d";
}
.pixicon-notebook:before {
	content: "\e01e";
}
.pixicon-book-open:before {
	content: "\e01f";
}
.pixicon-browser:before {
	content: "\e02a";
}
.pixicon-calendar:before {
	content: "\e02b";
}
.pixicon-presentation:before {
	content: "\e02c";
}
.pixicon-picture:before {
	content: "\e02d";
}
.pixicon-pictures:before {
	content: "\e02e";
}
.pixicon-video2:before {
	content: "\e02f";
}
.pixicon-camera2:before {
	content: "\e03a";
}
.pixicon-printer2:before {
	content: "\e03b";
}
.pixicon-toolbox:before {
	content: "\e03c";
}
.pixicon-briefcase2:before {
	content: "\e03d";
}
.pixicon-wallet:before {
	content: "\e03e";
}
.pixicon-gift:before {
	content: "\e03f";
}
.pixicon-bargraph:before {
	content: "\e04a";
}
.pixicon-grid2:before {
	content: "\e04b";
}
.pixicon-expand2:before {
	content: "\e04c";
}
.pixicon-focus:before {
	content: "\e04d";
}
.pixicon-edit:before {
	content: "\e04e";
}
.pixicon-adjustments:before {
	content: "\e04f";
}
.pixicon-ribbon2:before {
	content: "\e05a";
}
.pixicon-hourglass:before {
	content: "\e05b";
}
.pixicon-lock2:before {
	content: "\e05c";
}
.pixicon-megaphone:before {
	content: "\e05d";
}
.pixicon-shield:before {
	content: "\e05e";
}
.pixicon-trophy:before {
	content: "\e05f";
}
.pixicon-flag2:before {
	content: "\e06a";
}
.pixicon-map2:before {
	content: "\e06b";
}
.pixicon-puzzle:before {
	content: "\e06c";
}
.pixicon-basket:before {
	content: "\e06d";
}
.pixicon-envelope:before {
	content: "\e06e";
}
.pixicon-streetsign:before {
	content: "\e06f";
}
.pixicon-telescope:before {
	content: "\e07a";
}
.pixicon-gears:before {
	content: "\e07b";
}
.pixicon-key:before {
	content: "\e07c";
}
.pixicon-paperclip:before {
	content: "\e07d";
}
.pixicon-attachment:before {
	content: "\e07e";
}
.pixicon-pricetags:before {
	content: "\e07f";
}
.pixicon-lightbulb:before {
	content: "\e08a";
}
.pixicon-layers2:before {
	content: "\e08b";
}
.pixicon-pencil:before {
	content: "\e08c";
}
.pixicon-tools:before {
	content: "\e08d";
}
.pixicon-tools-2:before {
	content: "\e08e";
}
.pixicon-scissors:before {
	content: "\e08f";
}
.pixicon-paintbrush:before {
	content: "\e09a";
}
.pixicon-magnifying-glass:before {
	content: "\e09b";
}
.pixicon-circle-compass:before {
	content: "\e09c";
}
.pixicon-linegraph:before {
	content: "\e09d";
}
.pixicon-mic:before {
	content: "\e09e";
}
.pixicon-strategy:before {
	content: "\e09f";
}
.pixicon-beaker:before {
	content: "\e0a0";
}
.pixicon-caution:before {
	content: "\e0a1";
}
.pixicon-recycle:before {
	content: "\e0a2";
}
.pixicon-anchor2:before {
	content: "\e0a3";
}
.pixicon-profile-male:before {
	content: "\e0a4";
}
.pixicon-profile-female:before {
	content: "\e0a5";
}
.pixicon-bike:before {
	content: "\e0a6";
}
.pixicon-wine:before {
	content: "\e0a7";
}
.pixicon-hotairballoon:before {
	content: "\e0a8";
}
.pixicon-globe2:before {
	content: "\e0a9";
}
.pixicon-genius:before {
	content: "\e0aa";
}
.pixicon-map-pin:before {
	content: "\e0ab";
}
.pixicon-dial:before {
	content: "\e0ac";
}
.pixicon-chat:before {
	content: "\e0ad";
}
.pixicon-heart2:before {
	content: "\e0ae";
}
.pixicon-cloud2:before {
	content: "\e0af";
}
.pixicon-upload2:before {
	content: "\e0b0";
}
.pixicon-download2:before {
	content: "\e0b1";
}
.pixicon-target2:before {
	content: "\e0b2";
}
.pixicon-hazardous:before {
	content: "\e0b3";
}
.pixicon-piechart:before {
	content: "\e0b4";
}
.pixicon-speedometer:before {
	content: "\e0b5";
}
.pixicon-global:before {
	content: "\e0b6";
}
.pixicon-compass:before {
	content: "\e0b7";
}
.pixicon-lifesaver:before {
	content: "\e0b8";
}
.pixicon-clock2:before {
	content: "\e0b9";
}
.pixicon-aperture:before {
	content: "\e0ba";
}
.pixicon-quote:before {
	content: "\e0bb";
}
.pixicon-scope:before {
	content: "\e0bc";
}
.pixicon-alarmclock:before {
	content: "\e0bd";
}
.pixicon-refresh:before {
	content: "\e0be";
}
.pixicon-happy:before {
	content: "\e0bf";
}
.pixicon-sad:before {
	content: "\e0c0";
}
.pixicon-facebook:before {
	content: "\e0c1";
}
.pixicon-twitter:before {
	content: "\e0c2";
}
.pixicon-googleplus:before {
	content: "\e0c3";
}
.pixicon-rss:before {
	content: "\e0c4";
}
.pixicon-tumblr:before {
	content: "\e0c5";
}
.pixicon-linkedin:before {
	content: "\e0c6";
}
.pixicon-dribbble:before {
	content: "\e0c7";
}
.pixicon-heart3:before {
	content: "\e600";
}
.pixicon-cloud3:before {
	content: "\e601";
}
.pixicon-star2:before {
	content: "\e602";
}
.pixicon-tv:before {
	content: "\e603";
}
.pixicon-sound:before {
	content: "\e604";
}
.pixicon-video3:before {
	content: "\e605";
}
.pixicon-trash2:before {
	content: "\e606";
}
.pixicon-user:before {
	content: "\e607";
}
.pixicon-key2:before {
	content: "\e608";
}
.pixicon-search3:before {
	content: "\e609";
}
.pixicon-settings:before {
	content: "\e60a";
}
.pixicon-camera3:before {
	content: "\e60b";
}
.pixicon-tag2:before {
	content: "\e60c";
}
.pixicon-lock3:before {
	content: "\e60d";
}
.pixicon-bulb:before {
	content: "\e60e";
}
.pixicon-pen:before {
	content: "\e60f";
}
.pixicon-diamond:before {
	content: "\e610";
}
.pixicon-display:before {
	content: "\e611";
}
.pixicon-location2:before {
	content: "\e612";
}
.pixicon-eye2:before {
	content: "\e613";
}
.pixicon-bubble:before {
	content: "\e614";
}
.pixicon-stack2:before {
	content: "\e615";
}
.pixicon-cup:before {
	content: "\e616";
}
.pixicon-phone2:before {
	content: "\e617";
}
.pixicon-news:before {
	content: "\e618";
}
.pixicon-mail2:before {
	content: "\e619";
}
.pixicon-like:before {
	content: "\e61a";
}
.pixicon-photo:before {
	content: "\e61b";
}
.pixicon-note:before {
	content: "\e61c";
}
.pixicon-clock3:before {
	content: "\e61d";
}
.pixicon-paperplane:before {
	content: "\e61e";
}
.pixicon-params:before {
	content: "\e61f";
}
.pixicon-banknote:before {
	content: "\e620";
}
.pixicon-data:before {
	content: "\e621";
}
.pixicon-music:before {
	content: "\e622";
}
.pixicon-megaphone2:before {
	content: "\e623";
}
.pixicon-study:before {
	content: "\e624";
}
.pixicon-lab:before {
	content: "\e625";
}
.pixicon-food:before {
	content: "\e626";
}
.pixicon-t-shirt:before {
	content: "\e627";
}
.pixicon-fire:before {
	content: "\e628";
}
.pixicon-clip:before {
	content: "\e629";
}
.pixicon-shop:before {
	content: "\e62a";
}
.pixicon-calendar2:before {
	content: "\e62b";
}
.pixicon-wallet2:before {
	content: "\e62c";
}
.pixicon-vynil:before {
	content: "\e62d";
}
.pixicon-truck:before {
	content: "\e62e";
}
.pixicon-world:before {
	content: "\e62f";
}
.pixicon-fire2:before {
	content: "\e630";
}
.pixicon-star3:before {
	content: "\e631";
}
.pixicon-play2:before {
	content: "\e632";
}
.pixicon-pause2:before {
	content: "\e633";
}
.pixicon-stop2:before {
	content: "\e634";
}
.pixicon-backward:before {
	content: "\e635";
}
.pixicon-forward:before {
	content: "\e636";
}
.pixicon-mail3:before {
	content: "\e637";
}
.pixicon-mail4:before {
	content: "\e638";
}
.pixicon-mail5:before {
	content: "\e639";
}
.pixicon-mail6:before {
	content: "\e63a";
}
.pixicon-google:before {
	content: "\e63b";
}
.pixicon-googleplus2:before {
	content: "\e63c";
}
.pixicon-googleplus3:before {
	content: "\e63d";
}
.pixicon-googleplus4:before {
	content: "\e63e";
}
.pixicon-googleplus5:before {
	content: "\e63f";
}
.pixicon-google-drive:before {
	content: "\e640";
}
.pixicon-facebook2:before {
	content: "\e641";
}
.pixicon-facebook3:before {
	content: "\e642";
}
.pixicon-facebook4:before {
	content: "\e643";
}
.pixicon-instagram:before {
	content: "\e644";
}
.pixicon-twitter2:before {
	content: "\e645";
}
.pixicon-twitter3:before {
	content: "\e646";
}
.pixicon-twitter4:before {
	content: "\e647";
}
.pixicon-feed:before {
	content: "\e648";
}
.pixicon-feed2:before {
	content: "\e649";
}
.pixicon-feed3:before {
	content: "\e64a";
}
.pixicon-youtube:before {
	content: "\e64b";
}
.pixicon-youtube2:before {
	content: "\e64c";
}
.pixicon-vimeo:before {
	content: "\e64d";
}
.pixicon-vimeo2:before {
	content: "\e64e";
}
.pixicon-vimeo3:before {
	content: "\e64f";
}
.pixicon-lanyrd:before {
	content: "\e650";
}
.pixicon-flickr:before {
	content: "\e651";
}
.pixicon-flickr2:before {
	content: "\e652";
}
.pixicon-flickr3:before {
	content: "\e653";
}
.pixicon-flickr4:before {
	content: "\e654";
}
.pixicon-picassa:before {
	content: "\e655";
}
.pixicon-picassa2:before {
	content: "\e656";
}
.pixicon-dribbble2:before {
	content: "\e657";
}
.pixicon-dribbble3:before {
	content: "\e658";
}
.pixicon-dribbble4:before {
	content: "\e659";
}
.pixicon-forrst:before {
	content: "\e65a";
}
.pixicon-forrst2:before {
	content: "\e65b";
}
.pixicon-deviantart:before {
	content: "\e65c";
}
.pixicon-deviantart2:before {
	content: "\e65d";
}
.pixicon-steam:before {
	content: "\e65e";
}
.pixicon-steam2:before {
	content: "\e65f";
}
.pixicon-github:before {
	content: "\e660";
}
.pixicon-github2:before {
	content: "\e661";
}
.pixicon-github3:before {
	content: "\e662";
}
.pixicon-github4:before {
	content: "\e663";
}
.pixicon-github5:before {
	content: "\e664";
}
.pixicon-wordpress:before {
	content: "\e665";
}
.pixicon-wordpress2:before {
	content: "\e666";
}
.pixicon-joomla:before {
	content: "\e667";
}
.pixicon-blogger:before {
	content: "\e668";
}
.pixicon-blogger2:before {
	content: "\e669";
}
.pixicon-tumblr2:before {
	content: "\e66a";
}
.pixicon-tumblr3:before {
	content: "\e66b";
}
.pixicon-yahoo:before {
	content: "\e66c";
}
.pixicon-tux:before {
	content: "\e66d";
}
.pixicon-apple:before {
	content: "\e66e";
}
.pixicon-finder:before {
	content: "\e66f";
}
.pixicon-android:before {
	content: "\e670";
}
.pixicon-windows:before {
	content: "\e671";
}
.pixicon-windows8:before {
	content: "\e672";
}
.pixicon-soundcloud:before {
	content: "\e673";
}
.pixicon-soundcloud2:before {
	content: "\e674";
}
.pixicon-skype:before {
	content: "\e675";
}
.pixicon-reddit:before {
	content: "\e676";
}
.pixicon-linkedin2:before {
	content: "\e677";
}
.pixicon-lastfm:before {
	content: "\e678";
}
.pixicon-lastfm2:before {
	content: "\e679";
}
.pixicon-delicious:before {
	content: "\e67a";
}
.pixicon-stumbleupon:before {
	content: "\e67b";
}
.pixicon-stumbleupon2:before {
	content: "\e67c";
}
.pixicon-stackoverflow:before {
	content: "\e67d";
}
.pixicon-pinterest:before {
	content: "\e67e";
}
.pixicon-pinterest2:before {
	content: "\e67f";
}
.pixicon-xing:before {
	content: "\e680";
}
.pixicon-xing2:before {
	content: "\e681";
}
.pixicon-flattr:before {
	content: "\e682";
}
.pixicon-foursquare:before {
	content: "\e683";
}
.pixicon-foursquare2:before {
	content: "\e684";
}
.pixicon-paypal:before {
	content: "\e685";
}
.pixicon-paypal2:before {
	content: "\e686";
}
.pixicon-paypal3:before {
	content: "\e687";
}
.pixicon-yelp:before {
	content: "\e688";
}
.pixicon-libreoffice:before {
	content: "\e689";
}
.pixicon-file-pdf:before {
	content: "\e68a";
}
.pixicon-file-openoffice:before {
	content: "\e68b";
}
.pixicon-file-word:before {
	content: "\e68c";
}
.pixicon-file-excel:before {
	content: "\e68d";
}
.pixicon-file-zip:before {
	content: "\e68e";
}
.pixicon-file-powerpoint:before {
	content: "\e68f";
}
.pixicon-file-xml:before {
	content: "\e690";
}
.pixicon-file-css:before {
	content: "\e691";
}
.pixicon-html5:before {
	content: "\e692";
}
.pixicon-html52:before {
	content: "\e693";
}
.pixicon-css3:before {
	content: "\e694";
}
.pixicon-chrome:before {
	content: "\e695";
}
.pixicon-firefox:before {
	content: "\e696";
}
.pixicon-IE:before {
	content: "\e697";
}
.pixicon-opera:before {
	content: "\e698";
}
.pixicon-safari:before {
	content: "\e699";
}
.pixicon-paperclip2:before {
	content: "\e69a";
}
.pixicon-map3:before {
	content: "\e69b";
}
.pixicon-compass2:before {
	content: "\e69c";
}
.pixicon-heart4:before {
	content: "\e69d";
}
.pixicon-network:before {
	content: "\e69e";
}
.pixicon-key3:before {
	content: "\e69f";
}
.pixicon-battery2:before {
	content: "\e6a0";
}
.pixicon-bucket:before {
	content: "\e6a1";
}
.pixicon-magnet:before {
	content: "\e6a2";
}
.pixicon-drive:before {
	content: "\e6a3";
}
.pixicon-cup2:before {
	content: "\e6a4";
}
.pixicon-rocket:before {
	content: "\e6a5";
}
.pixicon-progress-0:before {
	content: "\e6a6";
}
.pixicon-sun2:before {
	content: "\e6a7";
}
.pixicon-sun3:before {
	content: "\e6a8";
}
.pixicon-adjust:before {
	content: "\e6a9";
}
.pixicon-code:before {
	content: "\e6aa";
}
.pixicon-creditcard:before {
	content: "\e6ab";
}
.pixicon-database:before {
	content: "\e6ac";
}
.pixicon-voicemail:before {
	content: "\e6ad";
}
.pixicon-droplets:before {
	content: "\e6ae";
}
.pixicon-uniE6AF:before {
	content: "\e6af";
}
.pixicon-statistics:before {
	content: "\e6b0";
}
.pixicon-pie:before {
	content: "\e6b1";
}
.pixicon-lock4:before {
	content: "\e6b2";
}
.pixicon-lock-open:before {
	content: "\e6b3";
}
.pixicon-cross2:before {
	content: "\e6b4";
}
.pixicon-minus2:before {
	content: "\e6b5";
}
.pixicon-plus2:before {
	content: "\e6b6";
}
.pixicon-minus3:before {
	content: "\e6b7";
}
.pixicon-plus3:before {
	content: "\e6b8";
}
.pixicon-erase:before {
	content: "\e6b9";
}
.pixicon-blocked:before {
	content: "\e6ba";
}
.pixicon-info:before {
	content: "\e6bb";
}
.pixicon-help2:before {
	content: "\e6bc";
}
.pixicon-cycle:before {
	content: "\e6bd";
}
.pixicon-ccw:before {
	content: "\e6be";
}
.pixicon-shuffle2:before {
	content: "\e6bf";
}
.pixicon-arrow:before {
	content: "\e6c0";
}
.pixicon-back:before {
	content: "\e6c1";
}
.pixicon-switch:before {
	content: "\e6c2";
}
.pixicon-list:before {
	content: "\e6c3";
}
.pixicon-add-to-list:before {
	content: "\e6c4";
}
.pixicon-layout2:before {
	content: "\e6c5";
}
.pixicon-list2:before {
	content: "\e6c6";
}
.pixicon-text:before {
	content: "\e6c7";
}
.pixicon-document2:before {
	content: "\e6c8";
}
.pixicon-docs:before {
	content: "\e6c9";
}
.pixicon-landscape:before {
	content: "\e6ca";
}
.pixicon-download3:before {
	content: "\e6cb";
}
.pixicon-disk:before {
	content: "\e6cc";
}
.pixicon-install:before {
	content: "\e6cd";
}
.pixicon-cloud4:before {
	content: "\e6ce";
}
.pixicon-upload3:before {
	content: "\e6cf";
}
.pixicon-bookmark:before {
	content: "\e6d0";
}
.pixicon-bookmarks:before {
	content: "\e6d1";
}
.pixicon-volume2:before {
	content: "\e6d2";
}
.pixicon-sound2:before {
	content: "\e6d3";
}
.pixicon-mute2:before {
	content: "\e6d4";
}
.pixicon-flow-cascade:before {
	content: "\e6d5";
}
.pixicon-arrow-left2:before {
	content: "\e6d6";
}
.pixicon-cc:before {
	content: "\e6d7";
}
.pixicon-cc-by:before {
	content: "\e6d8";
}
.pixicon-cc-nc:before {
	content: "\e6d9";
}
.pixicon-cc-nc-eu:before {
	content: "\e6da";
}
.pixicon-cc-nc-jp:before {
	content: "\e6db";
}
.pixicon-cc-sa:before {
	content: "\e6dc";
}
.pixicon-cc-nd:before {
	content: "\e6dd";
}
.pixicon-cc-pd:before {
	content: "\e6de";
}
.pixicon-cc-zero:before {
	content: "\e6df";
}
.pixicon-github6:before {
	content: "\e6e0";
}
.pixicon-github7:before {
	content: "\e6e1";
}
.pixicon-flickr5:before {
	content: "\e6e2";
}
.pixicon-flickr6:before {
	content: "\e6e3";
}
.pixicon-vimeo4:before {
	content: "\e6e4";
}
.pixicon-vimeo5:before {
	content: "\e6e5";
}
.pixicon-twitter5:before {
	content: "\e6e6";
}
.pixicon-twitter6:before {
	content: "\e6e7";
}
.pixicon-facebook5:before {
	content: "\e6e8";
}
.pixicon-facebook6:before {
	content: "\e6e9";
}
.pixicon-facebook7:before {
	content: "\e6ea";
}
.pixicon-googleplus6:before {
	content: "\e6eb";
}
.pixicon-googleplus7:before {
	content: "\e6ec";
}
.pixicon-pinterest3:before {
	content: "\e6ed";
}
.pixicon-pinterest4:before {
	content: "\e6ee";
}
.pixicon-tumblr4:before {
	content: "\e6ef";
}
.pixicon-tumblr5:before {
	content: "\e6f0";
}
.pixicon-linkedin3:before {
	content: "\e6f1";
}
.pixicon-linkedin4:before {
	content: "\e6f2";
}
.pixicon-dribbble5:before {
	content: "\e6f3";
}
.pixicon-dribbble6:before {
	content: "\e6f4";
}
.pixicon-stumbleupon3:before {
	content: "\e6f5";
}
.pixicon-stumbleupon4:before {
	content: "\e6f6";
}
.pixicon-lastfm3:before {
	content: "\e6f7";
}
.pixicon-lastfm4:before {
	content: "\e6f8";
}
.pixicon-rdio:before {
	content: "\e6f9";
}
.pixicon-rdio2:before {
	content: "\e6fa";
}
.pixicon-spotify:before {
	content: "\e6fb";
}
.pixicon-spotify2:before {
	content: "\e6fc";
}
.pixicon-qq:before {
	content: "\e6fd";
}
.pixicon-instagram2:before {
	content: "\e6fe";
}
.pixicon-dropbox:before {
	content: "\e6ff";
}
.pixicon-evernote:before {
	content: "\e700";
}
.pixicon-flattr2:before {
	content: "\e701";
}
.pixicon-skype2:before {
	content: "\e702";
}
.pixicon-skype3:before {
	content: "\e703";
}
.pixicon-renren:before {
	content: "\e704";
}
.pixicon-sina-weibo:before {
	content: "\e705";
}
.pixicon-paypal4:before {
	content: "\e706";
}
.pixicon-picasa:before {
	content: "\e707";
}
.pixicon-soundcloud3:before {
	content: "\e708";
}
.pixicon-mixi:before {
	content: "\e709";
}
.pixicon-behance:before {
	content: "\e70a";
}
.pixicon-circles:before {
	content: "\e70b";
}
.pixicon-vk:before {
	content: "\e70c";
}
.pixicon-smashing:before {
	content: "\e70d";
}
